<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean
            id="propertyConfigurer"
            class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>config.properties</value>
            </list>
        </property>
    </bean>

    <bean
            id="taskExecutor"
            class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property
                name="corePoolSize"
                value="5"/>
        <property
                name="keepAliveSeconds"
                value="3000"/>
        <property
                name="maxPoolSize"
                value="100"/>
        <property
                name="queueCapacity"
                value="5000"/>
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$DiscardPolicy"/>
        </property>
    </bean>

    <bean
            id="listener"
            class="cn.com.wushang.wspark.pos.server.implementor.Listener">
        <property
                name="host"
                value="${server.listener.host}"/>
        <property
                name="port"
                value="${server.listener.port}"/>
        <property
                name="backlog"
                value="${server.listener.backlog}"/>
        <property
                name="sotimeout"
                value="${server.listener.sotimeout}"/>
    </bean>

    <bean
            id="ccbClient"
            class="cn.com.wushang.wspark.pos.eai.ccb.CCBClient"
            scope="prototype">
        <property
                name="key"
                value="${ccb.key}"/>
        <property
                name="mchid"
                value="${ccb.mchid}"/>
        <property
                name="url"
                value="${ccb.url}"/>
        <property
                name="posid"
                value="${ccb.posid}"/>
        <property
                name="branchid"
                value="${ccb.branchid}"/>
    </bean>

    <bean
            id="cmbClient"
            class="cn.com.wushang.wspark.pos.eai.cmb.CMBClient"
            scope="prototype">
        <property
                name="url"
                value="${cmb.url}"/>
        <property
                name="secret_key"
                value="${cmb.secret_key}"/>
        <property
                name="rspCode_status"
                value="${cmb.rspCode_status}"/>
        <property
                name="rspCode_success"
                value="${cmb.rspCode_success}"/>
        <property
                name="rspCode_cancel"
                value="${cmb.rspCode_cancel}"/>
        <property
                name="charset"
                value="${cmb.charset}"/>
        <property
                name="pay_txCode"
                value="${cmb.pay_txCode}"/>
        <property
                name="pay_status_txCode"
                value="${cmb.pay_status_txCode}"/>
        <property
                name="version"
                value="${cmb.version}"/>
        <property
                name="signType"
                value="${cmb.signType}"/>
        <property
                name="branchNo"
                value="${cmb.branchNo}"/>
        <property
                name="merchantNo"
                value="${cmb.merchantNo}"/>
        <property
                name="trnAbs"
                value="${cmb.trnAbs}"/>
        <property
                name="noticeUrl"
                value="${cmb.noticeUrl}"/>
        <property
                name="currency"
                value="${cmb.currency}"/>
        <property
                name="sleepTime"
                value="${cmb.sleepTime}"/>
    </bean>
</beans>